<form class="blogger" action="{{ path('SoftUniBlogBundle_comment_create', { 'article_id' : comment.articles.id } ) }}" method="post" >
    {{ form_start(form) }}
    {{ form_widget(form) }}
    <p>
        <input class="btn btn-default btn-xs" type="submit" value="Submit">
    </p>
</form>